
.carousel-inner{
 margin: auto;
 width: 62.5rem;
}
.card-body{
 margin: auto; 
}
h2{
margin-left: 30.625rem;
padding: 0.625rem;
}

.img-logo{
    width: 9.375rem;
    height: 6.25rem;
}
.navbar-brand{
   margin-left: 50px;
}
.card{
    margin: auto;
    width: 37.5rem;
}
body{
    display: flex; /*colocar footer abajo*/
    flex-direction: column;/*colocar footer abajo*/
    min-height: 100vh; /*colocar footer abajo viewport*/
}
.logo{
    margin: auto;
    padding-left: 12.5rem;
    padding-right: 12.5rem;
}

.shop{
    display: flex; 
}
.card{ 
    max-width: 18.75rem;
   
}

