
.carousel-inner{
 margin: auto;
 width: 62.5rem;
}
.card-body{
 margin: auto; 
}
h2{
margin-left: 30.625rem;
padding: 0.625rem;
}

.img-logo{
    width: 9.375rem;
    height: 6.25rem;
}
.navbar-brand{
   margin-left: 50px;
}
.card{
    margin: auto;
    width: 500px;
}
body{
    display: grid; /*colocar footer abajo viewport*/
    min-height: 100vh; /*colocar footer abajo viewport*/
    grid-template-rows: auto 1fr auto; /*colocar footer abajo viewport*/
}
.logo{ 
    padding-right: 37.5rem;
}

.shop{
    display: flex; /* */
    padding: 3.125rem;
    margin-left: 12.5rem;
    margin-right: 12.5rem;
}
.card{ 
    max-width: 18.75rem;
   
}
.quantite{
    border-radius: .625rem;
    padding: .3125rem;
    margin-bottom: .625rem;
}
.button{
    border-radius: .625rem;
}
.discount{
    color: red;
}
.descuento{
    float: left;
    text-decoration: line-through;
    color: red;
}

