
.carousel-inner{
 margin: auto;
 height: 300px;
 width: 600px;
}
.card-body{
 margin: auto; 
}
h2{
margin-left: 490px;
padding: 10px;
}
.navbar navbar-expand-lg bg-body-tertiary{
    background-color: black;
}
.img-logo{
    width: 100px;
    height: 80px;
}
.navbar-brand{
   margin-left: 50px;
}
.card{
    margin: auto;
    width: 600px;
}
footer{
    margin-top: auto; /*colocar footer abajo*/
   
}
body{
   display: flex; /*colocar footer abajo*/
   flex-direction: column;/*colocar footer abajo*/
   min-height: 100vh; /*colocar footer abajo viewport*/
}